{% load static %}
<h1>Identifiez-vous</h1>

{% if messages %}   
    {% for message in messages %}
        <p class="{{messages.tags}} notification">{{ message }}</p>
    {% endfor %}
{% endif %}

<div>
    <form method="post" action=".">{% csrf_token %}
        <label for="username"> Username</label>
        <input type="text" name="username" required>
        <label for ="email"> Email</label>
        <input type="email" name="email" required>
        <label for="password"> Password</label>
        <input type="password" name="password" required>
        <button type="submit" > Connexion </button>
    </form>

    <form method="get" action="{% url 'login' %}">
        <input type="hidden" name="next" value="{{ next_url }}">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>

    <p>Mot de passe oublié? <a href="{% url 'forgot_password' %}">Recupérer avec adress email</a></p>
</div>





