
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation link</title>
</head>
<body>
    <h1>Invitation</h1>
    <p>Hi, {{collaborator}}!</p>
    <p>You friend {{owner_name}} | {{owner_email}} who uses MC Cloud invites you to follow this link to identify yourself and collaborate on his folder or files.</p>
    <p>If this is not you, kindly ignore this email.</p>
    <div>
        <h2>Instructions</h2>
        <p>Invitation link: {{inviting_url}}</p>
    </div>
    <p><em>The MC Cloud Team</em></p>
</body>
</html>